<h3>Services:</h3>
<br>
<% @appointment_types.all.each do |app| %>
  <div class="row">
    <div class="collection col s12 m12">
      <%= link_to user_path(app.user.id), :class => "collection-item" do %>
        <span class="badge"><%= app.name %></span>Service:
      <% end %>
      <%= link_to user_path(app.user.id), :class => "collection-item" do %>
        <span class="badge"><%= app.description %></span>Description:
      <% end %>
      <%= link_to user_path(app.user.id), :class => "collection-item" do %>
        <span class="badge"><%= app.duration %></span>Duration:
      <% end %>
      <%= link_to user_path(app.user.id), :class => "collection-item" do %>
        <span class="badge"><%= app.user.first_name %></span>By:
      <% end %>
    </div>
  </div>

<% end %>
