<!DOCTYPE html>
<html>
    <head>
        <title>The Appointent App</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Capriola">

        <%= javascript_include_tag Ckeditor.cdn_url %>
    </head>
    <body class="<%= params[:controller] %> <%= params[:action] %>">
        <div class="row">
            <nav>
                <div class="nav-wrapper blue darken-3">
                    <a href="#" data-activates="mobile-demo" class="button-collapse">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="left hide-on-med-and-down">
                        <li>
                            <%= link_to "Home", root_path%>
                        </li>
                        <li>
                            <%= link_to "Services", appointment_types_path%>
                        </li>
                        <li>
                            <%= link_to "Professionals", users_path%>
                        </li>
                        <% unless @current_user.present? %>
                        <li>
                            <%= link_to "Sign Up", new_user_path%>
                        </li>
                        <li>
                            <%= link_to "Login", login_path%>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to "Appointments", appointments_path%>
                        </li>
                        <li>
                            <%= link_to "Edit Profile", edit_user_path() %>
                        </li>
                        <li>
                            <%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %>
                        </li>
                        <% end %>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <%= link_to "Home", root_path%>
                        </li>
                        <li>
                            <%= link_to "Services", appointment_types_path%>
                        </li>
                        <li>
                            <%= link_to "Professionals", users_path%>
                        </li>
                        <% unless @current_user.present? %>
                        <li>
                            <%= link_to "Sign Up", new_user_path%>
                        </li>
                        <li>
                            <%= link_to "Login", login_path%>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to "Appointments", appointments_path%>
                        </li>
                        <li>
                            <%= link_to "Edit Profile", edit_user_path() %>
                        </li>
                        <li>
                            <%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %>
                        </li>
                        <% end %>
                    </ul>
                    <a href="/home" class="brand-logo right theaa">
                        <h3>theaa</h3>
                    </a>
                    <% if @current_user %>
                    <%= link_to(image_tag( "waa_logo.png", :class => "logo left" ), user_path(@current_user)) %>
                <% else %>
                    <%= link_to(image_tag( "waa_logo.png", :class => "logo" ), login_path) %>
                    <% end %>
                </div>
            </nav>
        </div>
        <div class="full_screen row">
            <div class="col m1 s0"></div>
            <div class="container col m10 s12">

                <% if flash[:success] %>
                <h5>
                    <%= flash[:success] %>
                </h5>
                <% end %>

                <% if flash[:error] %>
                <h5>
                    <%= flash[:error] %>
                </h5>
                <% end %>
                <h1>
                    <!-- <div class="logo"></div> -->
                </h1>

                <div id="content">
                    <%= yield %>
                </div>

            </div>
            <div class="col m1 s0"></div>
        </div>
            <div class="footer">
                © 2016 GA static production feel free to COPY MY SHIT
            </div>
    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#navigation a, #fixedbar a').on('click', function (e) {
                e.preventDefault();
            });

            $(window).on('scroll', function () {
                var scrolltop = $(this).scrollTop();

                if (scrolltop >= 215) {
                    $('#fixedbar').fadeIn(250);
                } else if (scrolltop <= 210) {
                    $('#fixedbar').fadeOut(250);
                }
            });
        });
    </script>
</html>
