<!DOCTYPE html>
<html>
<head>
  <title>The Appointent App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Capriola">
</head>
<body>

  <div class="container">

         <%= link_to "Home", root_path%>  |
         <%= link_to "Services", appointment_types_path%>  |
         <%= link_to "Professionals", users_path%>  |
         <% unless @current_user.present? %>
           <%= link_to "Sign Up", new_user_path%>  |
           <%= link_to "Login", login_path%>
         <% else %>
           <%= link_to "Appointments", appointments_path%>  |
           <%= link_to "Edit Profile", edit_user_path() %>  |
           <%= link_to "Logout #{@current_user.email}", login_path, :method => :delete %>
         <% end %>

  <% if flash[:success] %>
    <h5>
      <%= flash[:success] %>
    </h5>
  <% end %>

  <% if flash[:error] %>
    <h5>
      <%= flash[:error] %>
    </h5>
  <% end %>
    <h1><div class="logo"></div></h1>


    <div id="content">
      <%= yield %>
    </div>

  </div>

</body>
<script type="text/javascript">
$(document).ready(function(){
  $('#navigation a, #fixedbar a').on('click', function(e) {
    e.preventDefault();
  });

  $(window).on('scroll',function() {
    var scrolltop = $(this).scrollTop();

    if(scrolltop >= 215) {
      $('#fixedbar').fadeIn(250);
    }

    else if(scrolltop <= 210) {
      $('#fixedbar').fadeOut(250);
    }
  });
});
</script>
</html>
